.ui.menu {
  background-color: rgb(2, 19, 70);
  color: white;
}
.gutter{
  margin-top: 100px;
}
.ui.menu a {
   color: gold;
 
}
.ui.container{
  margin-top: 100px;
  margin-bottom: 60px;
}

.ui.card img{
  width: 290px;
  height: 166px
}